.img {
overflow: hidden;
position: relative;
max-width: 200px;
margin: 0 auto;
float: left;
position: absolute;
left: 7%;
transform: rotate(.5deg);
top: 100px;
}

h1 {
	text-align: center;
}

#first_paragraph {
	top: 100px;
	float: right;
	width: 75%;
	white-space: pre;
}

#second_paragraph {
	top: 235px;
	left: 50px;
	position: relative;
	width: 65%;
	white-space: pre;
}

figcaption {
  height: 1.2em;
  width: 100%;
  margin-left: 25px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 4.4em;
  float: right;
  text-align: left;
  z-index: 1;
  display: inline-block;
  bottom: 0;
}

.col-sm-4 {
	left: 35px;
}

h1 {
	text-align: center;
}

div.technology_list {
	position: relative;
	left: 75px;
	top: 195px;
}

#class_technology {
	text-align: center;
}

#technologies {
	position: relative;
	top: 205px;
	left: 575px;
	white-space: nowrap;
}

.text-right.text-nowrap {
    display: block;
    overflow: hidden;
	float: right;
	margin: 20px;
	position: relative;
	left: -10px;
	top: 50px;
	
}


.text-left {
	position: relative;
	margin: auto;
	padding-right: 20px;
	left: 100px;
	top: 170px;

}

.resources {
	position: relative;
	top:250px;

}

#col-sm-4 {
	right: 50px;
	bottom: 60px;
}

/* Button Animation Duration */
#main_header, .img {
    -webkit-animation-duration: 4s;
    transition-duration: 3s;

 }

/* Button CSS */

button {
	background-color: #008CBA;
	color: #FFFFFF;
